/* This file is for your main application css. */

@import "./phoenix.css";

/* custom buttons */
.button-small {
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-red {
  background-color: #dc3545;
  border-color: #dc3545;
}
