<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :username %>
  <%= text_input f, :username %>
  <%= error_tag f, :username %>

  <%= inputs_for f, :credential, fn cf -> %>
    <%= label cf, :email %>
    <%= text_input cf, :email %>
    <%= error_tag cf, :email %>
  <% end %>
  <div>
    <%= submit "Save" %>
  </div>
<% end %>
