<section class='phx-hero'>
  <h2>Hello World from Phoenix!</h2>
  <p>
    <!-- hardcoded link -->
    <a href="/hello/Arno">Say hello to Arno</a>
  </p>
  <p>
    <!-- dynamic link -->
    <a href='<%= Routes.hello_path(@conn, :show, "Lauri") %>'>Say hello to Lauri</a>
  </p>

  <p>Value is: <%= @var %></p>
</section>
