<h1>Sign in</h1>

<!-- New session i.e. login -->
<%= form_for @conn, Routes.session_path(@conn, :create), [method: :post, as: :user], fn f -> %>
  <%= text_input f, :email, placeholder: "Email" %>

  <%= password_input f, :password, placeholder: "Password" %>

  <%= submit "Login" %>
<% end %>

<!-- Delete session i.e. logout -->
<%= form_for @conn, Routes.session_path(@conn, :delete), [method: :delete, as: :user], fn _ -> %>
  <%= submit "Logout" %>
<% end %>
